{% ckan_extends %}

{% block ____________footer_content%}

    {# Popular Datasets #}
    <section class="dataset-section popular-datasets">
      <h2>{{ _('Most Popular Datasets') }}</h2>
      <div class="dataset-list">
        {% set popular_datasets = h.popular_datasets() %}
        {% if popular_datasets %}
          {% for package in popular_datasets %}
            <p>{{ package.title }}</p>
          {% endfor %}
        {% else %}
          <p class="empty">{{ _('No popular datasets found') }}</p>
        {% endif %}
      </div>
    </section>

    {# Newest Datasets #}
    <section class="dataset-section newest-datasets">
      <h2>{{ _('Newest Datasets') }}</h2>
      <div class="dataset-list">
        {% set newest_datasets = h.newest_datasets() %}
        {% if newest_datasets %}
          {% for package in newest_datasets %}
            {{ package.title }}
          {% endfor %}
        {% else %}
          <p class="empty">{{ _('No newest datasets found') }}</p>
        {% endif %}
      </div>
    </section>

    {# Recently Updated Datasets #}
    <section class="dataset-section updated-datasets">
      <h2>{{ _('Recently Updated') }}</h2>
      <div class="dataset-list">
        {% set updated_datasets = h.recently_updated_datasets() %}
        {% if updated_datasets %}
          {% for package in updated_datasets %}
            {{ package.title }}
          {% endfor %}
        {% else %}
          <p class="empty">{{ _('No recently updated datasets found') }}</p>
        {% endif %}
      </div>
    </section>
<div>
  Базиранo на <a href="https://ckan.org" target="_blank">ckan.org</a>
</div>
{% endblock %}
