{% ckan_extends %}

{% block footer_content%}
  <div class="footer-sections">

    <section class="footer-section newest-datasets">
      <h2>{{ _('Информация') }}</h2>
      <p><a href="{{h.url_for_static('/about')}}" > За проекта</a></p>
      <p><a href="https://call.sofia.bg/bg/InfoRequest/Create" > Контакт с нас</a></p>
      <p><i>Базиранo на <a href="https://ckan.org" target="_blank">ckan.org</a></i></p>
    </section>

    {# Popular Datasets #}
    <section class="footer-section popular-datasets">
      <h2>{{ _('Набори') }}</h2>
      <div class="dataset-list">
        {% set popular_datasets = h.popular_datasets() %}
        {% if popular_datasets %}
          {% for package in popular_datasets %}
            <p><a href="/dataset/{{package.name}}">{{ package.title}}</a> </p>
          {% endfor %}
        {% else %}
          <p class="empty">{{ _('No popular datasets found') }}</p>
        {% endif %}
      </div>
    </section>

    {# Newest Datasets #}
    
    <section class="footer-section newest-datasets">
      <h2>{{ _('Групи') }}</h2>
      <div class="dataset-list">
        {% set groups = h.groups() %}
          {% for group in groups %}
          <p><a href="/group/{{group.name}}"> {{group.display_name}}</a> </p>
          </div>
          </a>
          {% endfor %}
      </div>
    </section>
  </div>

{% endblock %}
